@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(to bottom, #FFECDA, #FFB4AF); */
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 152, 134, 0.8), rgba(24, 0, 136, 0.8));
    background-repeat: no-repeat;
    height: 100vh;
    /*margin: 10px 0;*/
    padding: 10%;
    padding-top: 0;
    display: flex;
    justify-content: center, top;
    flex-direction: column;
    overflow: hidden;
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.cookie-consent-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
}

.cookie-consent p {
    margin: 0;
    padding: 0 10px;
    flex-grow: 1;
}

.cookie-consent button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cookie-consent button:hover {
    background-color: #45a049;
}

.cookie-consent #declineCookies {
    background-color: #888888;
}

.cookie-consent a {
    color: #EEEEEE;
}



.cookie-consent.show {
    visibility: visible;
    opacity: 1;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


h1 {
    display: flex;
    justify-content: center;
    color: rgba(238, 238, 238, 0.5);
    font-size: 300%;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgba(238, 238, 238, 0.5);
    font-size: 150%;

}

input {
    font-family: 'Open Sans', sans-serif;
    color: #EEEEEE;
    font-size: 200%;
    text-align: center;
    margin: 10px 0;
    /*width: 50%;*/
    /*height: 10%;*/
    background-color: rgba(0, 0, 0, 0.4);
    border: black;
    border-radius: 20px;
}

#chat_search {
    width: 80%;
}

/*div {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/




button {
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 17px;
    border: rgb(0, 0, 0);
    margin: 5px;
    box-sizing: border-box;
    color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    /*overflow: hidden;*/
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}


.item {
    backface-visibility: hidden;
    background-color: #EEEEEE;
    border-radius: 17px;
    border-width: 0;
    box-sizing: border-box;
    /*color: #FFEFC6;*/

    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    height: 100px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
  }

.chatbg {
    position: absolute;
    /*display: block;*/
    /*top: 200px;*/

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /*height: 500px;*/
    height: 100%;
    /*background-color: #2E236C;*/
    border-radius: 20px;
    z-index: 1;
}

.chat-container {
    position: relative;
    z-index: 2;
    height: calc(100% - 100px); /* Adjust this value to leave space for the form */
    overflow-y: auto;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.input-container input {
    margin: 0;
    padding-bottom: 0px;
    width: 100%;
    height: auto;
    border-radius: 0px;
}
.input-container button {
    /*font-size: medium;*/
    align-self: center;
    border-radius: 0px;
    width: 50px;
    height: 100%;
}

#messages {
    position: relative;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    z-index: 2;
}
.send_text {
    position: relative;
    z-index: 2;
}

.background {
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта */
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 20px;
}

.top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
}

.list-item {
    width: 90vw;
    height: 7vh;
    font-size: 50%;
}

#top-name {
    font-size: 200%;
}

#top-settings {
    width: 75px;
    height: 75px;
    font-size: 50px;
}

#top-back {
    width: 75px;
    height: 75px;
    font-size: 50px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 3;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /*background-color: black;*/
    /*background-image: linear-gradient(rgba(0, 152, 134, 0.3), rgba(24, 0, 136, 0.3));*/

}

.modal-content {
    /*background-color: #ffecda;*/
    background-color: rgb(83, 169, 162);
    /*background-image: linear-gradient(rgba(0, 152, 134, 0.3), rgba(24, 0, 136, 0.3));*/
    width: 80%;
    border-radius: 20px;

    margin: 15% auto;
    padding: 20px;
}


.modal-background {
    display: none;
}



.modal-content input {
    width: 100%;
}

#create-chat-btn {
    display: flex;
    align-items: center;
}

.top-settings {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 80vw;
}

.top-settings h2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.top-settings .close {
    float: left;
}

.top-settings #invite {
    float: right;
}

.top-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}



.down-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 50%;
    /*width: 80vw;*/
}

.close {

    /*font-size: 15px;*/
    /*text-align: center;*/
    /*margin-right: 80%;*/
    /*width: 65px;*/
    /*height: 65px;*/
}

#invite {
    font-size: 25px;
    text-align: center;
    width: 65px;
    height: 65px;
}

.username {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-bottom: 5px;
}

.message-wrapper {
    display: block;
}

.received-message {
    display: inline-block;
    text-align: left;
    background-color: rgba(0,0,0,0.3); /* Цвет фона для полученных сообщений */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
    color: rgba(238, 238, 238, 0.8);
}

.sent-message {
    text-align: right;
    background-color: rgba(0,0,0,0.3); /* Цвет фона для отправленных сообщений */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
    margin-left: auto; /* Двигаем сообщения вправо */
}

#invite_username {
    width: 80vw;
    height: 5vh;
}

.list-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    font-size: 50px;
}

.chat-user {
    width: 80vw;
    height: 10vh;
    font-size: 25%;
    align-items: center;
}

.chat-user button {
    width: 15%;
    height: 50%;
}

#invite_username {
    font-size: 100%;
}

#new_chat {
    width: 80vw;
    font-size: 30px;
}

.time {
    align-self: flex-end;
    float: right;
    font-size: 11px;
    color: #b0b0b0;

}