<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chat.name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="top-panel">
        <button id="top-back"><-</button>
        <h1 id="top-name">{{ chat.name }}</h1>
        <button id="top-settings">🎚️</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="top-settings">

                    <button class="close" style="">❌</button>
                    <h2>settings</h2>
                    <button id="invite">+</button>
                </div>
                <div>
                    <input type="text" name="invite_username" id="invite_username" placeholder="username to add">
                </div>
                <div class="list-user">
                    {% for user in users %}
                    <div class="chat-user top-settings">
                        <h2>{{ user.username }}</h2>
                        <button onclick="kickUser('{{ user.username }}')">❌</button>
                    </div>
                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
        <div class="chat-container">
            <div class="chatbg"></div>
            <ul id='messages'>
            </ul>
        </div>
        <form action="" onsubmit="sendMessage(event)">
            <div class="input-container">
                <input type="text" id="messageText" autocomplete="off"/>
                <button>^</button>
            </div>
        </form>
<script src="/static/js/chat.js"></script>
</body>
</html>