<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chat.name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="top-panel">
        <button id="top-back"><-</button>
        <h1 id="top-name">{{ chat.name }}</h1>
        <button id="top-invite">+</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <button id="close">x</button>
                <form action="/invite_user" method="get">
                    <label>username</label>
                    <input type="text" name="invite_username" id="invite_username">
                </form>
            </div>
        </div>
    </div>


        <div class="chat-container">
            <div class="chatbg"></div>
            <ul id='messages'>
            </ul>
        </div>
        <form action="" onsubmit="sendMessage(event)">
            <div class="input-container">
                <input type="text" id="messageText" autocomplete="off"/>
                <button>^</button>
            </div>
        </form>
<script src="/static/js/chat.js"></script>
</body>
</html>