<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qmessenger</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h1>
            {{ my_username }}
        </h1>
    </div>
    <div>
        <div>
            <button id="new_chat">+</button>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <button class="close">x</button>

                    <form action="/chats" method="post"></form>
                    <label>chat name</label>
                    <input type="text" name="new_chat_name" id="new_chat_name">
                    <button type="submit">add chat</button>
                </div>
            </div>
        </div>
        <div class="chat-list">
            {% for chat in chats %}
                <form action="/chats/{{ chat.id }}" method="get">
                    <button class="list-item" type="submit">{{ chat.name }}</button>
                </form>
            {% endfor %}
        </div>
    </div>
<script src="/static/js/chats.js"></script>
</body>
</html>