<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rizem</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h2>
            rizem
        </h2>
    </div>
    <div>
        <div>
            <div class="top-panel">
                <input type="text" name="chat_search" id="chat_search">
                <button>🔎</button>
            </div>
            <button id="new_chat">+</button>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <h2>Название чата</h2>
                    <input type="text" name="new_chat_name" id="new_chat_name">
                    <div class="down-modal">
                        <button class="close">❌Отмена</button>
                        <button id="create-chat-btn">✅Создать</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="chat-list">
            {% for chat in chats %}
                <form action="/chats/{{ chat.id }}" method="get">
                    <button class="list-item" type="submit">{{ chat.name }}</button>
                </form>
            {% endfor %}
        </div>
    </div>
<script src="/static/js/chats.js"></script>
</body>
</html>