<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rizem</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h1>
            rizem
        </h1>
    </div>
    <div>
        <div>
            <h1>
                log in
            </h1>
        </div>
        <div>
            <form id="login-form">
                <h2>email</h2>
                <input type="text" name="username" id="username" required>
                <h2>password</h2>
                <input type="password" name="password" id="password" required>
                <div>
                    <button type="submit">log in</button>
                </div>

            </form>
        </div>
        <div>
            <form action="/register">
                <button type="submit">register</button>
            </form>
        </div>
        <div class="cookie-consent" id="cookieConsent">
        <div class="cookie-consent-content">
            <p>Мы используем файлы cookie для улучшения вашего опыта на нашем сайте. Продолжая использование сайта,
                 вы соглашаетесь с <a href="https://www.termsfeed.com/live/6d298f1a-3d13-41fc-bfb2-f25e89958810">
                    политикой конфиденциальности</a> и использованием файлов cookie.</p>
            <button id="acceptCookies">ОК</button>
            <button id="declineCookies">Разрешить только обязательные cookie</button>
        </div>
    </div>
    </div>
<script src="/static/js/index.js"></script>
</body>
</html>