<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>rizem</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>register</h1>
        <div>
            <form action="/auth/register" method="post" id="registrationForm">
                <h2>email</h2>
                <input type="email" class="data" name="email" id="email" required>
                <h2>username</h2>
                <input type="text" class="data" name="username" id="username" required>
                <h2>password</h2>
                <input type="password" class="data" name="password" id="password" required>
                <button role="button">register</button>
            </form>
            <form action="/">
                <button type="submit">log in</button>
            </form>
        </div>
    <script src="/static/js/register.js"></script>
    </body>
</html>